
body{
  color: white;
}

#homepageleft {
  float:left;
}
  #homepageright {
  float:right;
}
#homeBackground {
  background-color: black; 
   background-size: cover;
}
h1 {
  color: white; 
  text-align: center; 
}
h2 {
  color: white;
  text-align: left;
}
