  #homepageleft {
  float:left;
}
  #homepageright {
  float:right;
}
#homeBackground {
   background: url("https://vignette2.wikia.nocookie.net/harrypotter/images/4/4f/Dumbledore%27s_Army.jpg.jpg/revision/latest?cb=20091230171652") no-repeat center center fixed;
   background-size: cover;
}
